
//ცვლადების შექმნის ლოგიკა ( შეგიძლიათ ცვალდები შექმნათ ამავე ფაილში, ან გაიტანოთ ცალკე config ფაილში და დააიმპორტოთ)
//გაითვალისწინეთ, თუ ცვალდები გაქთ ცალკე და აიმპორტირებთ მაშინ მათი აღწერა ამ ფაილში აღარაა საჭირო
//$paragraphColor: red;
// $textFontSize: 18px;
// $divWidth: 680px;

@import "config.scss";  // იმპორტირებისთვის დაგჭირდებათ მსგავსი ჩანაწერი


//ცვლადები შეგიძლიათ გამოიყენოთ მნიშვნელობებად
body {
  font-size: $textFontSize;
  color: $paragraphColor;
}
.container{
  width: $divWidth; // შეგიძლიათ ცალკე კონტეინერს მიანიჭოთ ველიუ

  p{
    color: green; //ან კონტეინერის შიგნით არსებულ რომელიმე ელმენტს მიწვდეთ

  }
  &:hover{
    background-color: yellow; //განსაზღვროთ რა დაემართოს ელემენტს მაუსის გადატარების, დაკლიკების ან სხვა ქმედების შემდეგ
  }
}


//გლობალური ცვლადის გამოსაძახებლად საჭიროა  extend ქივორდი 

.styled-btn{
  @extend %btn
}